@font-face {
  font-family: 'HeliosC';
  src: url('../../assets/fonts/HeliosC.woff') format('woff'),
  url('../../assets/fonts/HeliosC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Cyr';
  src: url('../../assets/fonts/DrukWideCyr-Bold.woff2') format('woff2'),
  url('../../assets/fonts/DrukWideCyr-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../../assets/fonts/DrukTextWideCyr-Heavy.woff') format('woff'),
  url('../../assets/fonts/DrukTextWideCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
